* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("world.png");
    background-size: cover;
    text-align: center;
    font-family: 'KoHo', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 20px 20px;
    height: 500px;
    justify-content: center;
    margin-top: 100px;
}
.filler:hover .card {
    transform:rotateY(180deg);
}
.container {
    perspective: 1000px;
}
.card {
    background:  #f9efe5;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    transition: 1s linear;
    transform-style: preserve-3d;
    position: relative;
}
.front {
    background-color: #f9efe5;
    z-index: 2;
    color: #f37924;
}
.back {
    color: white;
    background-color: sandybrown;
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    font-family: 'KoHo', sans-serif;
}
.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
}
p {
    font-size: 23px;
    font-weight: bold;
}

h1 {
    color: #585555;
    font-weight: bold;
}

